header{
    background-color: aqua;
    color: black;
    padding-bottom: 10px;
    }
    
    
footer {
    background-color: blue;
    color: aqua;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  